<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="assets/css/fonts.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery-1.12.2.min.js" type="text/javascript"></script>
	<script src="assets/js/script.js" type="text/javascript"></script>
</head>
<body>
	<div class="wrapper">
		<nav>
			<div class="logo"> <h1>SHOP</h1> </div>
			<div class="toggle-btn">
				<span></span>
			</div>
			<ul>
				<li><a href="" title="">Home</a></li>
				<li><a href="" title="">SignIn</a></li>
				<li><a href="" title="">Contact Us</a></li>
			</ul>
		</nav>
			<header></header>
			<div class="content info">
				<h1>Smart Shopping</h1>
				<hr>
				<p>
					Make your shopping experience easier. Search for a product and get the relevant products available on sites like Flipkart, Snapdeal, 
					Amazon; a fast way for online shopping. 
				</p>
			</div>
			<div class="pic"></div>
			<div class="content services">
				<h1 align="center">Products available on our website</h1><br>
				<div align="center" class="slider">
					<div class="left"> <img src="assets/img/left.png"> </div>
					<div class="container">
						<div class="item">
							<a href="main.jsp?search=apple+laptop" target="_black"><img src="assets/img/laptop.png"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=tshirts" target="_black"><img src="assets/img/tshirt.png"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=headphones" target="_black"><img src="assets/img/beats.png"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=web+designing" target="_black"><img src="assets/img/web.png"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=mobiles" target="_black"><img src="assets/img/iphone.png"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=pendrive" target="_black"><img src="assets/img/pendrive.ico"></a>
						</div>
						<div class="item">
							<a href="main.jsp?search=puma" target="_black"><img src="assets/img/puma.png"></a>
						</div>
					</div>
					<div class="right"> <img src="assets/img/right.png"> </div>
				</div>
			</div>
			<div class="before-footer"></div>
			<footer>
				<div class="contact">
					<h1>Contact Us</h1>
					<div class="social-links">
						<img src="assets/img/g+.png">
						<img src="assets/img/fb.png">
						<img src="assets/img/in.png">
						<img src="assets/img/github.png">
					</div>
				</div>
				
				<div class="about">
					<h1>About Us</h1>
					<div class="dev">
						Developed By: Divyank Pahlazani
					</div>
				</div>
				<div class="copyright">
					&copySHOP for 2016-2021
				</div>
			</footer>
	</div>
</body>
</html>